<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" routerLink="signup">SINGUP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="signin">SIGNIN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">ADD-PRODUCT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">ADD-CATEGORY</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
